<!-- src/pages/tabs/tabs.page.html -->

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button
      tab="dashboard"
      routerLink="/tabs/dashboard"
      routerDirection="root"
    >
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="prospects"
      routerLink="/tabs/prospects/list"
      routerDirection="root"
    >
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Prospectos</ion-label>
    </ion-tab-button>

    <ion-tab-button
      tab="activity"
      routerLink="/tabs/activity"
      routerDirection="root"
    >
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Actividad</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="help" routerLink="/tabs/help" routerDirection="root">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Ayuda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
