/* admin-dashboard.page.scss */

/* ————————————————————————————————————————————————————————————————————— */
/* 7.6) ALINEAR EL POPOVER de ion-select (“Filtrar por rol”)                     */
/* ————————————————————————————————————————————————————————————————————— */
ion-select-interface-popover {
  /* Dejamos un pequeño margin-top para que no “pegue” del todo al input padre */
  margin-top: 4px !important;

  /*  Forzamos que el popover no desborde lateralmente */
  .popover-content {
    width: auto !important;
    min-width: calc(100% - 2rem) !important; /* 100% menos 32px */
    margin: 0 auto !important;
  }
}
