// variables.scss
:root {
  --ion-color-primary: #3f51b5; // Indigo
  --ion-color-primary-rgb: 63, 81, 181;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3949ab;
  --ion-color-primary-tint: #5c6bc0;

  --ion-color-secondary: #ff4081; // Pink (como acento)
  --ion-color-secondary-rgb: 255, 64, 129;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e91e63;
  --ion-color-secondary-tint: #ff80ab;
}
