<!-- src/app/app.component.html -->

<ng-container *ngIf="isPrivacyRoute; else authFlow">
  <!-- Si la ruta es /privacy-policy, SOLO mostramos esa página (sin header ni tabs) -->
  <ion-router-outlet></ion-router-outlet>
</ng-container>

<ng-template #authFlow>
  <amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
      <ion-app>
        <!-- Header global de toda la app -->
        <ion-header>
          <ion-toolbar>
            <ion-title class="nav-title">BANRURAL</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="signOut()" fill="clear">
                <ion-icon name="log-out-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <!-- AQUÍ va el outlet principal donde caerán “/admin”, “/profile”, “/tabs/*”, etc -->
        <ion-router-outlet></ion-router-outlet>
      </ion-app>
    </ng-template>
  </amplify-authenticator>
</ng-template>
