<ng-container *ngIf="isPrivacyRoute; else authFlow">
  <ion-router-outlet></ion-router-outlet>
</ng-container>

<ng-template #authFlow>
  <amplify-authenticator [hideSignUp]="true">
    <ng-template amplifySlot="header">
      <div class="flex flex-col items-center">
        <img src="assets/logo.png" alt="Banrural Logo" class="w-[200px] mb-8" />
      </div>
    </ng-template>

    <ng-template amplifySlot="sign-in-header">
      <div class="text-3xl font-semibold text-gray-700 px-8 mt-6">Log in</div>
    </ng-template>

    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
      <ion-app>
        <ion-router-outlet></ion-router-outlet>
      </ion-app>
    </ng-template>
  </amplify-authenticator>
</ng-template>
