<ng-container *ngIf="isPrivacyRoute; else authFlow">
  <ion-router-outlet></ion-router-outlet>
</ng-container>

<ng-template #authFlow>
  <amplify-authenticator>
    <ng-template
      amplifySlot="authenticated"
      let-user="user"
      let-signOut="signOut"
    >
      <ion-app>
        <!-- ===== Header global ===== -->
        <ion-header>
          <ion-toolbar>
            <ion-title class="nav-title text-center">ADN APP</ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="signOut()" fill="clear">
                <ion-icon name="log-out-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>

        <!-- ===== Contenido principal ===== -->
        <ion-router-outlet></ion-router-outlet>
      </ion-app>
    </ng-template>
  </amplify-authenticator>
</ng-template>
