<ion-content [fullscreen]="true" class="admin-content">
  <h2>Mis Prospectos</h2>

  <ion-list>
    <!-- Aquí irían tus <ion-item> para cada prospecto -->
    <!-- Ejemplo: -->
    <ion-item *ngFor="let p of prospects">
      <ion-label> {{ p.nombre }} ({{ p.ubicacion }}) </ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="abrirCrearProspecto()">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
